.product-price {
	text-transform: none;
	font-size: 2rem;
	color: deeppink;
	font-family: mon-bold;
}

.product-title {
	text-transform: none;
	font-size: 1.5rem;
	color: black;
	font-family: mon-bold;
}
.product-description {
	text-transform: none;
	font-size: 1rem;
	color: black;
	font-family: mon-light;
}
.product-padding {
	padding: 10px;
}
