<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button
				mode="md"
				defaultHref="tabs/appointment"
				text=""
				icon="chevron-back"
				(click)="backs()"
			></ion-back-button>
		</ion-buttons>
		<ion-title> {{'SalonProductDetail.productDetails' | translate}} </ion-title>
		<ion-button fill="clear" slot="end" (click)="openCart()"
			><ion-icon slot="start" name="cart"></ion-icon
			><ion-badge slot="end" class="ion-no-padding badgeCustom"
				>{{cartCounter}}</ion-badge
			></ion-button
		>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<ion-img style="width: 100%" [src]="productImage"></ion-img>
	</div>
	<hr />
	<div class="product-padding">
		<ion-label class="product-price"
			>{{this.currencyType}}{{this.productPrice}}
		</ion-label>
	</div>
	<div class="product-padding">
		<ion-label class="product-title"> {{this.productTitle}} </ion-label>
	</div>
	<div class="product-padding">
		<ion-label class="product-description"> {{productDescription}} </ion-label>
	</div>

	<div style="float: right; padding-right: 1rem">
		<ion-button color="danger" style="font-family: mon-medium">
			<ion-icon style="zoom: 1" slot="icon-only" name="card"></ion-icon>
			<ion-text>Buy Now</ion-text>
		</ion-button>
		<ion-button
			color="warning"
			style="font-family: mon-medium"
			(click)="goToCart()"
		>
			<ion-icon style="zoom: 1" slot="icon-only" size="" name="cart"></ion-icon>
			<ion-text>Add to Cart</ion-text>
		</ion-button>
	</div>
</ion-content>
