<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-menu-button class="menu" autoHide="false"></ion-menu-button>
		</ion-buttons>
		<ion-title> {{'NearBy.near' | translate}} </ion-title>
		<ion-button fill="clear" slot="end" color="blue" (click)="openCart()"
			><ion-icon slot="start" name="cart"></ion-icon
			><ion-badge slot="end" class="ion-no-padding badgeCustom"
				>{{cartCounter}}</ion-badge
			></ion-button
		>
	</ion-toolbar>
</ion-header>
<ion-content>
	<!-- <agm-map [styles]="styleArray" [styles]="styles" [latitude]="latitude" [longitude]="longitude" [disableDefaultUI]="true"> -->
	<agm-map
		[styles]="styles"
		[latitude]="latitude"
		[longitude]="longitude"
		[disableDefaultUI]="true"
	>
		<agm-marker
			*ngFor="let marker of data; let i=index"
			[latitude]="marker.latitude"
			[longitude]="marker.longitude"
			[iconUrl]="iconUrl"
		>
			<agm-info-window [disableAutoPan]="false" #infoWindow [isOpen]="true">
				<div class="agm-info-window-content">{{marker.name}}</div>
			</agm-info-window>
		</agm-marker>
	</agm-map>
	<div class="salon-slider">
		<div class="salon-destination" *ngFor="let item of data">
			<ion-row class="ion-padding" no-wrap>
				<ion-col size="2.5" class="ion-no-padding">
					<img
						src="{{item.imagePath + item.image}}"
						alt="No Image Found"
						height="70"
						width="70"
					/>
				</ion-col>
				<ion-col size="8.5">
					<ion-row class="ion-no-padding">
						<ion-col size="8" class="ion-no-padding">
							<h2>{{item.name | slice:0:13}}</h2>
						</ion-col>
					</ion-row>
					<ion-text>{{item.address}}</ion-text><br />
					<ion-text class="address2"
						>{{'serviceAt.title' | translate}}
						<span *ngIf="item?.give_service == 'Both'"
							>{{'serviceAt.homeSalon' | translate}}</span
						>
						<span *ngIf="item?.give_service !== 'Both'"
							>{{item?.give_service}}</span
						></ion-text
					>
					<p class="info">
						<ion-icon name="star" class="star">{{item.rate}}</ion-icon>
						<ion-text style="color: var(--star-color)" class="star"
							>{{item.rate}}</ion-text
						>
						<ion-text *ngIf="res == 'thursday'"
							>{{item.thursday.open}} - {{item.thursday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'friday'"
							>{{item.friday.open}} - {{item.friday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'saturday'"
							>{{item.saturday.open}} - {{item.saturday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'sunday'"
							>{{item.sunday.open}} - {{item.sunday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'monday'"
							>{{item.monday.open}} - {{item.monday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'tuesday'"
							>{{item.tuesday.open}} - {{item.tuesday.close}}
						</ion-text>
						<ion-text *ngIf="res == 'wednesday'"
							>{{item.wednesday.open}} - {{item.wednesday.close}}
						</ion-text>
						<span class="ion-float-right"
							><img src="../../../assets/location.png" />
							{{item.distance}}Km</span
						>
					</p>
					<ion-button
						*ngIf="language == 'en'"
						class="right"
						(click)="book(item?.salon_id)"
						fill="clear"
						>{{'NearBy.Book' | translate}}</ion-button
					>
					<ion-button
						*ngIf="language == 'ro'"
						class="right"
						(click)="book(item?.salon_id)"
						fill="clear"
						>{{'NearBy.Book' | translate}}</ion-button
					>
					<ion-button
						*ngIf="language == 'ar'"
						class="left"
						(click)="book(item?.salon_id)"
						fill="clear"
						>{{'NearBy.Book' | translate}}</ion-button
					>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
