ion-header {
	ion-toolbar {
		--padding-end: 10px;
		ion-title {
			font-size: 14px;
			color: var(--black-color);
			font-family: mon-bold;
		}
		ion-icon {
			color: var(--black-color);
			font-size: 20px;
		}
		.menu {
			color: black;
		}
		.search {
			margin-right: 13px;
		}
	}
}
.badgeCustom {
	border-radius: 1100%;
	color: white;
	position: absolute;
	top: 0;
	font-size: 0.7rem;
	--padding-start: 6px;
	--padding-end: 6px;
	border-radius: 30%;
	padding: 2px;
	width: 0.9rem;
	border-radius: 100%;
	background-color: red;
}

ion-content {
	.salon-slider {
		position: absolute;
		bottom: 0%;
		left: 0%;
		right: 0;
		display: flex;
		overflow: scroll;
		// background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(35, 33, 33, 0.9));
		.right {
			position: absolute;
			top: -13%;
			right: -11px;
			color: var(--pink-color);
			font-family: mon-bold;
			text-transform: uppercase;
			font-size: 12px;
			border: 1.7px solid var(--pink-color);
			border-radius: 7px;
			height: 27px;
			width: 53px;
		}
		.left {
			position: absolute;
			top: -13%;
			left: 11px;
			color: var(--pink-color);
			font-family: mon-bold;
			text-transform: uppercase;
			font-size: 12px;
			border: 1.7px solid var(--pink-color);
			border-radius: 7px;
			height: 27px;
			width: 53px;
		}
		.salon-destination {
			height: 110px;
			background-color: white;
			margin: 15px;
			margin-right: 0px;
			min-width: 100%;
			img {
				border-radius: 9px;
			}
			h2 {
				margin: 0px;
				font-size: 14px;
				font-family: mon-semibold;
				margin-bottom: 0px;
			}
			ion-text {
				font-size: 12px;
				color: var(--input-text-color);
				font-family: mon-medium;
			}
			.address2 {
				font-weight: bold !important;
			}
			.info {
				margin: 0px;
				margin-top: 4px;
				ion-icon {
					font-size: 12px;
					color: var(--star-color);
					margin-right: -5px;
				}
				ion-text {
					font-size: 10px;
					color: var(--green-color);
					font-family: mon-medium;
					margin-left: 7px;
				}
				span {
					font-size: 10px;
					color: var(--input-text-color);
					padding-top: 6px;
				}
			}
		}
	}
}

// .gm-style .gm-style-iw-d {
//     .gm-ui-hover-effect {
//         right: 131px !important;
//     }
// }
.salon-slider::-webkit-scrollbar {
	display: none;
}

agm-map {
	height: 100%;
	width: 100%;
}

.star {
	color: var(--star-color);
}
