<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-button slot="start" fill="clear">
            <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
        <ion-icon style="margin-right: 13px;" name="search" slot="end"></ion-icon>
        <ion-icon style="color: var(--pink-color);" name="browsers-outline" slot="end"></ion-icon>
        <ion-title>
            {{'appoinement.Appointment' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="container">
        <img src="../../../assets/payment_method/Group 6680.png">
        <p>{{'appoinement.you' | translate}}</p>
        <ion-button fill="clear">{{'appoinement.home' | translate}}</ion-button>
    </div>
</ion-content>