<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button
				mode="md"
				defaultHref="tabs/home"
				text=""
				icon="chevron-back"
			></ion-back-button>
		</ion-buttons>

		<ion-title> Order Detail </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-item class="ion-activated">
			<ion-icon name="location" slot="start"></ion-icon>
			<ion-label>Delivery To: {{address}}</ion-label>
		</ion-item>

		<ion-item>
			<ion-icon name="person" slot="start"></ion-icon>
			<ion-label>Purchaser Name: {{name}}</ion-label>
		</ion-item>

		<ion-item class="ion-activated">
			<ion-icon name="call" slot="start"></ion-icon>
			<ion-label>Contact: {{contact}}</ion-label>
		</ion-item>

		<ion-item>
			<ion-icon name="mail" slot="start"></ion-icon>
			<ion-label>Email: {{email}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon name="compass" slot="start"></ion-icon>
			<ion-label>Country: {{country}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon name="compass" slot="start"></ion-icon>
			<ion-label>State: {{state}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-icon name="compass" slot="start"></ion-icon>
			<ion-label>City: {{city}}</ion-label>
		</ion-item>
	</ion-card>
	<!-- <ion-card>
		<ion-item>
			<ion-icon name="location" slot="start"></ion-icon>
			<ion-label> Delivery To: {{address}}</ion-label>
		</ion-item>
		<ion-card-content>
			Purchaser Name: {{name}} Email: {{email}} Country: {{country}} State:
			{{state}} City: {{city}}
		</ion-card-content>
		<ion-card-content> Contact No.: {{contact}}</ion-card-content>
	</ion-card> -->
	<ion-item>
		<ion-avatar slot="start">
			<ion-icon style="zoom: 3; color: deeppink" name="cube"></ion-icon>
		</ion-avatar>

		<ion-label>
			<h2 class="product-name-styling">Product Name: {{this.name}}</h2>

			<ion-label class="label-price" *ngIf="trackingNo!=null"
				><p class="product-label">Tracking No.: {{trackingNo}}</p></ion-label
			>

			<ion-label class="label-price"
				><p class="product-label">Price: ${{price}}</p></ion-label
			>
			<ion-label class="label-q"
				><p class="quantity-label">Quantity: {{quantity}}</p></ion-label
			>

			<ion-label class="label-q" *ngIf="status!=null"
				><p class="quantity-label">Status: {{status}}</p></ion-label
			>
			<ion-label class="label-q" style="float: left"
				><p class="quantity-label">Created On:</p></ion-label
			>
			<ion-datetime
				style="
					font-size: 14px;
					color: gray;
					padding-top: 2px;
					padding-left: 2px;
				"
				class="quantity-label ion-no-padding"
				pickerFormat="D/M/YYYY"
				[(ngModel)]="createdDate"
			>
			</ion-datetime>

			<ion-label style="float: right" class="label-q"
				><p class="quantity-label">Total: ${{totalPrice}}</p></ion-label
			>
		</ion-label>
	</ion-item>
</ion-content>
