<ion-content mode="ios" class="ion-padding">
    <h1>{{'social.share' | translate}}</h1>
    <div class="social">
        <p (click)="whatsapp()"><img src="../../../assets/social_icon/whatsapp.png" alt="">&nbsp;&nbsp;{{'social.Whatsapp' | translate}}</p>
        <p (click)="facebook()"><img src="../../../assets/social_icon/facebook.png" alt="">&nbsp;&nbsp;{{'social.facebook' | translate}}</p>
        <p (click)="email()"><img src="../../../assets/social_icon/gmail.png" alt="">&nbsp;&nbsp;{{'social.Gmail' | translate}}</p>
        <p (click)="instagra()"><img src="../../../assets/social_icon/instagram.png" alt="">&nbsp;&nbsp;{{'social.Instagram' | translate}}</p>
    </div>
</ion-content>