<ion-tabs mode="ios">
    <ion-tab-bar slot="bottom">
        <ion-tab-button mode="md" tab="appointment">
            <ion-icon src="../../../assets/icon/calendar.svg"></ion-icon>
            <div class="layer"></div>
        </ion-tab-button>

        <ion-tab-button mode="md" tab="nearby">
            <ion-icon src="../../../assets/icon/location.svg"></ion-icon>
            <div class="layer"></div>
        </ion-tab-button>

        <ion-tab-button mode="md" tab="home">
            <ion-icon class="calendar-icon" src="../../../assets/icon/home.svg"></ion-icon>
            <div class="layer"></div>
        </ion-tab-button>
        <ion-tab-button mode="md" tab="notification">
            <ion-icon src="../../../assets/icon/notification.svg"></ion-icon>
            <div class="layer"></div>
        </ion-tab-button>
        <ion-tab-button mode="md" tab="profile">
            <ion-icon src="../../../assets/icon/male.svg"></ion-icon>
            <div class="layer"></div>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>