img {
    margin-top: 14px;
}

h1 {
    font-family: mon-medium;
    font-size: 20px;
}

p {
    font-size: 13px;
    color: var(--input-text-color);
    font-family: mon-medium;
    margin-top: 34px;
}

ion-button {
    font-size: 14px;
    font-family: mon-medium;
}