<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button
				mode="md"
				defaultHref="tabs/home"
				text=""
				icon="chevron-back"
			></ion-back-button>
		</ion-buttons>

		<ion-title> Orders </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- *ngFor="let item of storageProducts;let i=index" -->
	<ion-item (click)="openOrderDetail()">
		<ion-avatar slot="start">
			<img src="../../../assets/Ellipse 9.png" />
		</ion-avatar>

		<ion-label>
			<h2 class="product-name-styling">Dove</h2>

			<h4 class="product-description-h-color">Order ID: 154</h4>

			<ion-label class="label-price"
				><p class="product-label">Price: $500</p></ion-label
			>
			<ion-label class="label-q"
				><p class="quantity-label">Quantity: 2</p></ion-label
			>
		</ion-label>
	</ion-item>
</ion-content>
