<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button
				mode="md"
				defaultHref="tabs/appointment"
				text=""
				icon="chevron-back"
			></ion-back-button>
		</ion-buttons>
		<ion-title> {{'Cart.cart' | translate}} </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-item *ngFor="let item of storageProducts;let i=index">
		<ion-avatar slot="start">
			<img [src]="item?.image" />
		</ion-avatar>

		<ion-label>
			<ion-icon
				class="trash-styling"
				name="trash-outline"
				(click)="removeItem(item.id)"
			></ion-icon>
			<h3 class="product-name-styling">{{item?.title}}</h3>

			<h4 class="product-description-h-color">{{item?.description}}</h4>
			<div>
				<div class="div-quantity">
					<ion-icon
						class="quantity-icon"
						name="remove-circle"
						(click)="decreement(item?.id)"
					></ion-icon>
					<ion-label class="quantity-label">{{item?.quantity}}</ion-label>
					<ion-icon
						class="quantity-icon"
						(click)="increement(item?.id)"
						name="add-circle"
					></ion-icon>
				</div>
			</div>
			<ion-label class="label-price"
				><p class="product-label">
					{{currencyType}} {{item?.price}}
				</p></ion-label
			>
		</ion-label>
		<!-- <ion-label style="display: none">{{getTotal(item?.price)}}</ion-label> -->
	</ion-item>
	<div *ngIf="showBottomBar" class="div-bottom">
		<div class="div-total">
			<ion-label class="div-label">
				<p class="div-total-total">Total</p>
				<p class="div-total-price">: {{currencyType}}{{totalPrice}}"</p>
			</ion-label>
		</div>
		<ion-button
			(click)="goToCheckOut()"
			color="warning"
			style="font-family: mon-medium; float: right"
		>
			<ion-icon style="zoom: 1" slot="icon-only" size="" name="cart"></ion-icon>
			<ion-text>Check Out</ion-text>
		</ion-button>
	</div>
</ion-content>
