<ion-header class="ion-no-border">
    <div class="back">
        <ion-icon name="arrow-back-outline" (click)="backs()"></ion-icon>
        <ion-title>
            {{'offer.title' | translate}}
        </ion-title>
    </div>

    <!-- <ion-toolbar mode="ios" class="ion-no-border"> -->

    <!-- </ion-toolbar> -->
</ion-header>

<ion-content mode="ios" class="ion-padding">
    <div class="slidecontainer">
        <!-- <ion-slides pager="true" [options]="slideOpts"> -->
        <ion-slides pager="true">
            <ion-slide *ngFor="let l of slider">
                <div class="slide">
                    <img src="{{l.imagePath + l.image}}" width="100%" height="100%">
                    <div class="dark-layer">
                        <div class="discount">
                            <p>{{l.title}}</p>
                            <h3>{{l.discount}}%</h3>
                            <p>{{'offer.coming' | translate}}</p>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-row *ngFor="let c of data" class="coupen-div ion-margin-top">
        <ion-col size="3" class="col-first">
            <h1>{{c.discount}}<span *ngIf="c.type == 'Percentage' ">%
                </span>
                <span *ngIf="c.type == 'Amount'">₹</span>
            </h1>
        </ion-col>
        <ion-col size="9" class="col-second">
            <p class="coupen-code">
                {{c.code}}</p>
            <p class="coupen-message">
                <ion-row>
                    <ion-col size="9">
                        {{c.desc}}
                    </ion-col>
                </ion-row>
            </p>
            <ion-button *ngIf="language == 'en'" class="right" color="white" (click)="apply(c)">{{'offer.Apply' | translate}}</ion-button>
            <ion-button *ngIf="language == 'ar'" class="left" color="white" (click)="apply(c)">{{'offer.Apply' | translate}}</ion-button>
            <ion-button *ngIf="language == 'ro'" class="right" color="white" (click)="apply(c)">{{'offer.Apply' | translate}}</ion-button>
        </ion-col>
    </ion-row>
</ion-content>