<ion-content class="ion-padding" mode="ios">
    <h2>{{'addReview.share' | translate}}</h2>
    <ion-row>
        <ion-col size="2">
            <img src="{{profilee?.imagePath + profilee?.image}}" height="40px" width="40px">
        </ion-col>
        <ion-col size="10">
            <ion-textarea [(ngModel)]="message" placeholder="{{'addReview.service' | translate}}" rows="3" cols="20">

            </ion-textarea>
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
        <ion-col size="12">
            <h2>{{'addReview.how' | translate}}</h2>
            <div class="rating-section">
                <ion-icon (click)="setRating(1)" [ngClass]="ratingValue >= 1 ? 'yellow-star' :'gray-star'" name="star"></ion-icon>
                <ion-icon (click)="setRating(2)" [ngClass]="ratingValue >= 2 ? 'yellow-star' :'gray-star'" name="star"></ion-icon>
                <ion-icon (click)="setRating(3)" [ngClass]="ratingValue >= 3 ? 'yellow-star' :'gray-star'" name="star"></ion-icon>
                <ion-icon (click)="setRating(4)" [ngClass]="ratingValue >= 4 ? 'yellow-star' :'gray-star'" name="star"></ion-icon>
                <ion-icon (click)="setRating(5)" [ngClass]="ratingValue == 5 ? 'yellow-star' :'gray-star'" name="star"></ion-icon>
            </div>
            <ion-button expand="full" [disabled]="message == ''" (click)="close()" color="white" class="share">{{'addReview.shareRe' | translate}}</ion-button>
        </ion-col>
    </ion-row>
</ion-content>