<ion-header class="ion-no-border">
    <ion-toolbar mode="ios">
        <ion-button (click)="back()" slot="start" fill="clear">
            <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
        <ion-title>
            {{'editProfile.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row>
        <ion-col size="12">
            <div class="profile_div">
                <ion-item class="ion-no-padding" lines="none">
                    <img (click)="selectImage()" class="img" height="50px" width="50px" src="{{image}}">
                    <ion-label class="daatName">{{data.name}}</ion-label>
                </ion-item>
            </div>
        </ion-col>
    </ion-row>

    <h1>{{'editProfile.personal' | translate}}</h1>

    <div class="input-div">
        <div class="margin-bottom">
            <p>{{'editProfile.name' | translate}}</p>
            <ion-input [(ngModel)]="name" value="{{data.name}}" type="text"></ion-input>
        </div>
        <div class="margin-bottom">
            <p>{{'editProfile.email' | translate}}</p>
            <ion-input readonly="true" value="{{data.email}}" type="text"></ion-input>
        </div>
        <div class="margin-bottom">
            <p>{{'editProfile.contactNmber' | translate}}</p>
            <ion-row class="ion-no-padding">
                <ion-col size="3">
                    <ion-input [(ngModel)]="code" value="{{data.code}}" type="tel"></ion-input>
                </ion-col>
                <ion-col size="9">
                    <ion-input [(ngModel)]="phone" value="{{data.phone}}" type="tel"></ion-input>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <hr class="margin-top">
    <h1 class="ion-margin-top">
        {{'editProfile.Location' | translate}}
    </h1>
    <p (click)="addAddres()" class="add-location ion-margin-bottom">{{'editProfile.addlocation' | translate}}</p>

    <ion-row *ngFor="let l of address" class="ion-margin-bottom">
        <ion-col size="1">
            <img src="../../../assets/icon/location.png">
        </ion-col>
        <ion-col size="11">
            <p class="addresss">{{l.street}}
                <ion-button *ngIf="language == 'en'" class="right" fill="clear" (click)="removeAddress()">
                    <ion-icon name="trash" class="trash"></ion-icon>&nbsp; {{'editProfile.Remove' | translate}}</ion-button>
                <ion-button *ngIf="language == 'ro'" class="right" fill="clear" (click)="removeAddress()">
                    <ion-icon name="trash" class="trash"></ion-icon>&nbsp; {{'editProfile.Remove' | translate}}</ion-button>
                <ion-button *ngIf="language == 'ar'" class="left" fill="clear" (click)="removeAddress()">
                    <ion-icon name="trash" class="trash"></ion-icon>&nbsp; {{'editProfile.Remove' | translate}}</ion-button>
            </p>
            <ion-text class="locat">{{l.city}}, {{l.state}}, {{l.country}}
            </ion-text>
        </ion-col>
    </ion-row>

    <div class="ion-text-center ion-margin-top">
        <ion-button class="change" mode="md" color="var(--blue-color)" (click)="changeThis()">
            {{'editProfile.Change' | translate}}</ion-button>
    </div>
</ion-content>