<ion-content class="ion-padding">
    <div class="ion-text-center">
        <h1>{{'cancel.cancelApo' | translate}}</h1>
        <hr>
        <p>{{'cancel.sure' | translate}}<br>{{'cancel.canApoIn' | translate}}</p>
        <hr>
        <div class="ion-text-end">
            <ion-button class="btn2" (click)="closeModel()" fill="clear">{{'cancel.no' | translate}}</ion-button>
            <ion-button class="btn1" (click)="close()" fill="clear">{{'cancel.Yes' | translate}}</ion-button>
        </div>
    </div>
</ion-content>